body {
    background-color: black;
    color: white;
}
table {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
td, th {
    padding-right: 40pt;
}
a {
    color: #58f;
}
a:visited {
    color: #85f;
}
