html {
    --bina: #fdf6e3aa;
    --bkin: #fdf6e3;
    --bout: #eee8d5;
    --text: #4A4238;
    
    --link: #2a929e;
    --linh: #3978a8;
}

html {
    background-color: var(--bout);
    color: var(--text);
}
body {
    background-color: var(--bkin);
}
code {
    background-color: var(--bout);
}
a, label {
    color: var(--link);
    text-decoration: none;
}
a:focus, a:hover, label:focus, label:hover {
    color: var(--linh);
}
h1 {
    border-bottom: 2px dashed var(--text);
}
h2 {
    border-color: var(--text);
}

nav > ul {
    background-color: var(--bout);
}
nav a:hover, nav a:focus {
    background-color: var(--bkin);
    color: var(--linh);
}
nav .active {
    background-color: var(--link);
    color: var(--bkin);
}
nav .active:hover, nav .active:focus {
    background-color: var(--linh);
    color: var(--bkin);
}
nav .menu div {
    background-color: var(--bout);
}

.footer {
    background-color: var(--bout);
}

.reveal label {
    border: 1px solid var(--text);
}

.popup > .outer, .image_viewer > .outer {
    background-color: var(--bina);
}
.popup > .outer > .content, .image_viewer > .outer > .content {
    background-color: var(--bout);
}

.comments > form {
    background-color: var(--bout);
}
.comments > form input, .comments > form textarea {
    background-color: var(--bkin);
    color: var(--text);
}
.comments > form input[type=submit]:hover {
    color: var(--link);
}
.comments > form input[type=submit]:active {
    color: var(--linh);
}
