html {
    background-color: #eee8d5;
    color: #657b83;
}
body {
    background-color: #fdf6e3;
}
code {
    background-color: #eee8d5;
}
a, label {
    color: #b58900;
    text-decoration: none;
}
a:focus, a:hover, label:focus, label:hover {
    color: #cb4b16;
}
h1 {
    border-bottom: 2px dashed #657b83;
}
h2 {
    border-color: #657b83;
}

nav > ul {
    background-color: #eee8d5;
}
nav a:hover, nav a:focus {
    background-color: #fdf6e3;
    color: #cb4b16;
}
nav .active {
    background-color: #b58900;
    color: #fdf6e3;
}
nav .active:hover, nav .active:focus {
    background-color: #cb4b16;
    color: #fdf6e3;
}
nav .menu div {
    background-color: #eee8d5;
}

.footer {
    background-color: #eee8d5;
}

.reveal label {
    border: 1px solid #657b83;
}

.popup > .outer, .image_viewer > .outer {
    background-color: #fdf6e3aa;
}
.popup > .outer > .content, .image_viewer > .outer > .content {
    background-color: #eee8d5;
}

.comments > form {
    background-color: #eee8d5;
}
.comments > form input, .comments > form textarea {
    background-color: #fdf6e3;
    color: #657b83;
}
.comments > form input[type=submit]:hover {
    color: #b58900;
}
.comments > form input[type=submit]:active {
    color: #cb4b16;
}
