h1 {
    text-align: center;
    font-size: 3em;
    font-weight: normal;
    border-bottom: 2px dashed #657b83;
    
    margin: 0 20% 1em 20%;
    padding-top: 0.8em;
}
h2, h3, h4, h5, h6 {
    padding-left: 0.6em;
}
h2 {
    padding-left: 0.5em;
    display: inline-block;
    margin-bottom: 0px;
}
h2:after {
    content: "";
    display: block;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    width: 80%;
    margin: 0 auto;
}
p {
    padding-left: 2em;
}
html {
    font-size: 14pt;
    font-family: ui-sans-serif, sans-serif;
}
br {
    margin: 0.3em;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    margin: 1em;
}
img {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    display: block;
}
a {
    text-decoration: none;
}
a:focus, a:hover{
    outline: none;
    text-decoration: underline;
}
a:active, a:hover {
    outline: 0;
}
label:focus, label:hover {
    text-decoration: underline;
}
.maincontent {
    padding: 20px 10% 20px 10%;
}
.largeheader {
    padding-top: 50vh;
}

.background-container {
    height: 0;
    overflow: hidden
}
#background-element {
    display: inline;
    padding: 0em 2em 1em 2em;
    opacity: 0.2;
}
h1:before {
    content: "";
    background-image: -moz-element(#background-element);
    background-position: center;
    display: block;
    position: absolute;
    left: 0.333em;
    top: 0.333em;
    right: 0.333em;
    height: 3.5em;
    pointer-events: none;
}

nav {
    z-index: 10;
    position: sticky;
    top: 0;
    padding: 0 1em 0 1em;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-shadow: 5px 5px 5px #0002;
    display: flex;
    overflow: auto;
}
nav > ul > li {
    float: left;
}
nav a {
    display: block;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}
nav a:hover, nav a:focus {
    text-decoration: none;
}
nav .right {
    float: right;
    margin-left: auto;
}

nav .menu > div {
    display: none;
    position: absolute;
    box-shadow: 5px 5px 5px #0002;

}
nav .menu:hover > div {
    display: block;
}
nav .menu > div a {
    width:100%;
    display: inline-block;
    padding: 10px 0 10px 0;
}

.footer {
    padding-top: 1em;
    padding-left: 1em;
    margin-bottom: -1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer ul {
    min-width: 15%;
    list-style-type: none;
    float: left;
    margin: 0 1em 1em 0;
    padding: 0 1em 0.5em 1em;
    font-size: 0.8em;
    box-shadow: 0 0 5px 4px #0002;
    overflow: hidden;
}
.footer ul li a {
    padding-left: 1em;
}
.footer ul li h3 {
    padding-left: 0;
}

@keyframes fade_in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.reveal > input[type=checkbox] {
    display: none;
}
.reveal > .content {
    display: none;
}
.reveal > label {
    width: 8em;
    height: 3em;
    display: block;
    text-align: center;
    padding: 10px;
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    cursor: pointer;
}
.reveal > label > p:only-child {
    padding: 0;
    margin: 0;
}
.reveal > input:checked[type=checkbox] ~ label {
    display: none;
}
.reveal > input:checked[type=checkbox] ~ .content {
    display: block;
    animation-name: fade_in;
    animation-duration: 0.5s;
}

.popup > input {
    display: none;
}
.popup {
    padding-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
}
.popup > label {
    display: inline;
    cursor: pointer;
}
.popup > label > p:only-child {
    padding: 0;
    margin: 0;
    display: inline;
}
.popup > .outer > .content {
    padding: 10px;
    display: block;
    position: sticky;
    width: 60%;
    margin-bottom: 8%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    margin-top: 0;
    transition: margin-top 0.2s;
    box-shadow: 0 0 10px 4px #0002;
}
.popup > .outer, .image_viewer > .outer {
    visibility: hidden;
    display: block;
    opacity: 0;
    position: fixed;
    overflow: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: visibility 0.2s, opacity 0.2s;
    z-index: 20;
}
.popup > .outer > .background, .image_viewer > .outer > .background {
    display: block;
    position: fixed;
    left: 0;
    right: 20px;
    height: 100%;
}
.popup > .outer > .content .close {
    display: inline-block;
    float: right;
    height: 0px;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 24pt;
}
.popup input:checked ~ .outer, .image_viewer input:not(:checked) ~ .outer {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s;
}
.popup input:checked ~ .outer > .content{
    margin-top: 8%;
    transition: margin-top 0.2s;
}

.image_viewer input:not(:checked) ~ .outer > .content {
    margin-top: 2%;
    transition: margin-top 0.2s;
}
.image_viewer > .outer > .content {
    padding: 10px;
    display: block;
    position: sticky;
    width: 80%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    margin-top: -4%;
    transition: margin-top 0.2s;
    box-shadow: 0 0 10px 4px #0002;
}
.image_viewer, .image_list {
    overflow: auto;
}
.image_viewer > label > img, .image_list > div > a > img {
    max-width: 300px;
    max-height: 150px;
    padding: 7px;
    animation-name: fade_in;
    animation-duration: 0.5s;
}
.image_list > div > a + a {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 3px 0 7px 0;
    background: #002b36AA;
}
.image_list > div:hover > a + a {
    display: block;
}
.image_viewer > label, .image_list > div {
    min-height:150px;
    display: block;
    float: left;
    position: relative;
    overflow: hidden;
}
.image_viewer > .outer > .content > img {
    display: none;
}
.image_viewer > .outer > .content > input:checked + label + label + a + img {
    display: block;
    margin: auto;
    padding: 0px;
    max-width: 90%;
    max-height: 200vh;
}
.image_viewer > .outer > .content > input + label + label + a {
    display: none;
}
.image_viewer > .outer > .content > input:checked + label + label + a {
    display: block;
    text-align: center;
}
.image_viewer > .outer > .content > label {
    display: none;
    font-size: 40pt;
    font-weight: lighter;
    height: 100%;
    top: 0;
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    user-select: none;
    cursor: pointer;
}
.image_viewer > .outer > .content > label:hover {
    text-decoration: none;
}
.image_viewer > .outer > .content > input:checked + label {
    display: block;
    position: absolute;
    left: 0;
}
.image_viewer > .outer > .content > input:checked + label:before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.image_viewer > .outer > .content > input:checked + label + label {
    display: block;
    position: absolute;
    right: 0;
    text-align: right;
}
.image_viewer > .outer > .content > input:checked + label + label:before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.image_viewer > .outer > .content .close {
    display: block;
    position: absolute;
    right: 0;
    padding: 0;
    padding-right: 0.2em;
    margin: 0;
    width: auto;
    height: 0;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 24pt;
}
.image_viewer > .outer > .content > input , .image_viewer > .imv_close {
    display: none;
}

.comments > form {
    overflow: hidden;
    box-shadow: 5px 5px 5px #0002;
    padding: 10px;
    padding-right: 20px;
}
.comments > form > .left {
    float: left;
    padding-right: 2%;
    width: 38%;
}
.comments > form > .right {
    width: 60%;
    float: left;
}
.comments > form textarea {
    width: 100%;
}
.comments > form input[type=text] {
    width: 100%;
}
.comments > form input, .comments > form textarea {
    font-size: 14pt;
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.comments > .comment {
    box-shadow: 5px 5px 5px #0002;
    padding: 10px;
}

.comments > .comment p {
    margin: 0;
    padding: 0;
}
.comments > .comment > p::before {
    content: "“";
    font-size: 24pt;
    font-weight: bold;
    padding: 10px;
}
.comments > .comment > p::after {
    content: "„";
    font-size: 24pt;
    padding: 10px;
    font-weight: bold;
}
