<div class="popup">
    <input type="checkbox" id="pop{idx}">
    <div class="outer">
        <label for="pop{idx}" class="background"></label>
        <div class="content">
            <label for="pop{idx}" class="close">&times;</label>
            {content}
        </div>
    </div>
    <label for="pop{idx}">{text}</label>
</div>
